<h1>Demo Index Page</h1>

<h2>Endpoints for Articles</h2>

<h3>Search</h3>

<p>
  /articles/search/:searchTerm, e.g. <a href="/articles/search/oil">oil</a>
</p>

<h3>Lookup</h3>

<p>
  /articles/get/:uuid, e.g. <a href="/articles/get/1c8a5e74-6901-11e8-8cf3-0c230fa67aec">1c8a5e74-6901-11e8-8cf3-0c230fa67aec</a>
</p>

<p>The end.</p>
